language: nodejs

install: skip

script:
- git clone https://github.com/actions/setup-python
- cd setup-python
- npm install
- export INPUT_PYTHON_VERSION=3.3
- export INPUT_ARCHITECTURE=x86
- npm lib/setup-python.js
