language: node_js

install: skip

arch: amd64

node_js:
- 11

script:
- git clone https://github.com/actions/setup-go
- cd setup-go
- npm install --production
- export INPUT_VERSION=1.9.3
- export INPUT_ARCHITECTURE=x86
- node lib/setup-go.js
- go version
